.secondaryTitle {
  .h3 {
    font-family: var(--secondFamily);
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1;
    color: var(--light-color);
    display: block;
    position: relative;
    &:after {
      content: "*";
      color: var(--orange);
      display: block;
      font-size: 2.25rem;
      line-height: 1;
      font-weight: 700;
      font-family: var(--secondFamily);
      display: inline;
    }
  }
  .link {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--light-color);
    transition: var(--animation);
    svg {
      width: 21px;
      height: 21px;
    }
    &:hover {
      color: var(--orange);
    }
  }
}
