.trends {
  padding: 83px 0;
  &__wrapper {
    gap: 4%;
  }
  &__main {
    flex: 1 0 45.78%;
  }
  &__list {
    flex: 1 0 49.22%;
  }
}

.trend {
  &__item {
    &-title {
      font-family: var(--secondFamily);
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 1.4;
      color: var(--light-color);
      transition: var(--animation);
      &:hover {
        color: var(--orange);
      }
      .trends__list & {
        font-size: 1.25rem;
      }
    }
    &-text {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      color: #777777;
    }
    &-date {
      font-size: 16px;
      line-height: 1;
      color: #C8C8C8;
    }
    &-img {
      border-radius: 4px;
      overflow: hidden;
      a {
        display: block;
        width: 100%;
        height: 100%;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .trends__list & {
        display: block;
        flex: 1 0 152px;
        width: 152px;
        height: 128px;
      }
    }
  }
}
